.home{
 background-color: black;
 height: 750px;
 display: flex;
}
.home-props h1{
    background-color:black ;
    color: white;
    text-align: center;
    margin-left: 300px;
    font-size: 50px;

}

.props{
    text-align: center;
    color: white;
    background-color: black;
    margin-left: 300px;
    font-size: 20px;
}

.props p{
    font-size: 40px;
}

.props button{
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 1000;
    font-size: 1em;
    color:white;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 1em 3em;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background-image: linear-gradient(to right, #02facd 0%,#613043 51%, #e10ee8 100%);    transition: 0.5s;
    width:50%;
    margin-left: 200px;
    
    
    
  }  
  .props button:hover{
    background-position: right center ;
  }
